{% extends "base.html.twig" %}

{% block body %}
	<div class="container w-50 mt-5">
		{{ form_start(post_form,{'attr': {'class': 'card p-3 border-dark'}}) }}
		{{ form_row(post_form.title,{'attr': {'class': 'border-dark'}}) }}
		{{ form_row(post_form.content,{'attr': {'class': 'border-dark'}}) }}
		{{ form_row(post_form.image,{'attr': {'class': 'border-dark'}}) }}
		<div class="container d-flex justify-content-center">
			<input type="submit" value="Modifier" class="btn btn-warning w-50">
		</div>
		{{ form_end(post_form) }}
	</div>
{% endblock %}

