{% extends "base.html.twig" %}

{% block body %}
	<div class="container w-50 mt-5">
		{{ form_start(post_form) }}
		{{ form_row(post_form.title) }}
		{{ form_row(post_form.content) }}
		{{ form_row(post_form.image) }}
		<div class="container d-flex justify-content-center">
			<input type="submit" value="Modifier" class="btn btn-warning w-50">
		</div>
		{{ form_end(post_form) }}
	</div>
{% endblock %}

